In [34]:
import pandas as pd
import numpy as np

In [35]:
feature_list = ['feature0', 'feature1', 'feature2', 'feature11', 'feature12', 'feature13', 'feature15', 'feature16', 'feature17', 'feature18', 
           'feature19', 'feature20_0', 'feature20_1', 'feature20_2', 'feature20_3', 'feature20_4', 'feature20_5', 'feature20_6', 
           'feature20_7','feature_edge','feature_distance','feature60', 'feature61_0', 'feature61_1', 'feature61_2', 'feature61_3',  'feature61_4', 'feature61_5', 
           'feature61_6', 'feature61_7','feature69_0', 'feature69_1', 'feature69_2', 'feature69_3','feature69_4', 'feature69_5', 
           'feature69_6', 'feature69_7', 'feature28_0', 'feature28_1', 'feature28_2','feature28_3', 'feature28_4', 'feature28_5', 'feature28_6',
       'feature28_7','feature36_0', 'feature36_1', 'feature36_2', 'feature36_3', 'feature36_4', 'feature36_5', 'feature36_6',
       'feature36_7', 'feature44_0', 'feature44_1', 'feature44_2', 'feature44_3', 'feature44_4', 'feature44_5', 'feature44_6',
       'feature44_7', 'feature52_0', 'feature52_1', 'feature52_2', 'feature52_3', 'feature52_4', 'feature52_5', 'feature52_6',
       'feature52_7', 'feature77_0', 'feature77_1', 'feature77_2', 'feature77_3',  'feature77_4', 'feature77_5', 
           'feature77_6', 'feature77_7','feature85_0', 'feature85_1', 'feature85_2', 'feature85_3','feature85_4', 'feature85_5', 
           'feature85_6', 'feature85_7']

In [36]:
def edge_count(test):
    edge_list = [0,1,6,7,8,9,14,15,16,17,22,23,24,25,30,31]
    feature_edge = []
    for i in range(len(test)):
        current_direction = [m for m in test.iloc[i].tolist() if m in edge_list]
        feature_edge.append(len(current_direction))
    test['feature_edge'] = feature_edge
    return test

In [37]:
def distance_count(test):
    feature_distance = []
    for i in range(len(test)):
        coordinate = []
        for m in (test.iloc[i].tolist()):
            coordinate.append((m-8*(m//8), m//8))
        distance = 0
        for a in coordinate:
            for b in coordinate:
                distance = distance + ((a[0]-b[0])**2 + (a[1]-b[1])**2)**0.5
        feature_distance.append(distance)
    test['feature_distance'] = feature_distance
    return test

In [38]:
label = pd.read_csv('D:/2022 AIops/data/train_label.csv')['sample_index'].tolist()

In [39]:
labeled_train_length = pd.DataFrame()
for i in label:
    m = pd.read_csv('D:/2022 AIops/data/train/{}.csv'.format(i))
    m = m.drop(columns='Date & Time', axis=1)
    column = m.columns.tolist()
    for item in column:
        labeled_train_length.loc[i,item]=m.loc[:,item].mean()

In [40]:
labeled_train_length = labeled_train_length.drop(columns=['feature3_5', 'feature3_6', 'feature3_7', 'feature3_8'], axis=1)
labeled_train_length

,feature0,feature1,feature2,feature3_1,feature3_2,feature3_3,feature3_4,feature11,feature12,feature13,...,feature77_6,feature77_7,feature85_0,feature85_1,feature85_2,feature85_3,feature85_4,feature85_5,feature85_6,feature85_7
670,144.561042,14.051875,1.661042,562.020833,896.666667,39.062500,4.312500,0.509583,11.383542,375414.750000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
673,186.908837,14.138372,1.572093,678.441860,770.674419,36.139535,3.558140,0.607674,12.469535,373135.279070,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
675,140.700308,12.390308,1.378000,936.461538,483.153846,29.646154,9.753846,0.347231,10.278308,365786.415385,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
684,163.613371,13.282135,1.568539,665.876404,699.831461,66.404494,0.000000,0.756180,12.250787,358405.584270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
690,155.986566,12.798586,1.548788,699.282828,691.747475,44.636364,8.797980,1.118990,12.732727,360825.757576,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2979,263.856667,13.133333,2.343333,37.666667,1253.333333,0.000000,294.333333,0.073333,12.533333,391001.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2980,284.380000,15.090000,2.930000,53.000000,0.000000,1514.000000,0.000000,0.000000,6.730000,377350.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2981,215.077500,14.237500,2.970000,24.000000,0.000000,1573.000000,0.000000,0.000000,8.700000,338963.750000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2982,247.040000,13.620000,1.980000,33.000000,1568.000000,0.000000,0.000000,0.000000,9.430000,334564.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2983,163.515000,16.785000,1.060000,1502.000000,93.000000,0.000000,0.000000,0.000000,10.315000,332645.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
edge_avg = []
for i in label:
    test =  pd.read_csv('D:/2022 AIops/data/train/{}.csv'.format(i))
    test = test.loc[:,['feature20_0','feature20_1','feature20_2','feature20_3','feature20_4','feature20_5','feature20_6','feature20_7']]
    test = test.dropna()
    test = edge_count(test)
    edge_avg.append(test.feature_edge.mean())
print(len(edge_avg))

1407

In [42]:
distance_avg = []
for i in label:
    test =  pd.read_csv('D:/2022 AIops/data/train/{}.csv'.format(i))
    test = test.loc[:,['feature20_0','feature20_1','feature20_2','feature20_3','feature20_4','feature20_5','feature20_6','feature20_7']]
    test = test.dropna()
    test = distance_count(test)
    distance_avg.append(test.feature_distance.mean())
print(len(distance_avg))

1407

In [43]:
length = []
for i in label:
    m = pd.read_csv('D:/2022 AIops/data/train/{}.csv'.format(i))
    length.append(len(m))
print(len(length))

1407

In [44]:
labeled_train_length['feature_edge'] = edge_avg
labeled_train_length['feature_distance'] = distance_avg
labeled_train_length['length'] = length
labeled_train_length

,feature0,feature1,feature2,feature3_1,feature3_2,feature3_3,feature3_4,feature11,feature12,feature13,...,feature85_1,feature85_2,feature85_3,feature85_4,feature85_5,feature85_6,feature85_7,feature_edge,feature_distance,length
670,144.561042,14.051875,1.661042,562.020833,896.666667,39.062500,4.312500,0.509583,11.383542,375414.750000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.800000,130.342748,48
673,186.908837,14.138372,1.572093,678.441860,770.674419,36.139535,3.558140,0.607674,12.469535,373135.279070,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.583333,109.181921,43
675,140.700308,12.390308,1.378000,936.461538,483.153846,29.646154,9.753846,0.347231,10.278308,365786.415385,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.229508,123.798978,65
684,163.613371,13.282135,1.568539,665.876404,699.831461,66.404494,0.000000,0.756180,12.250787,358405.584270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.666667,136.455680,89
690,155.986566,12.798586,1.548788,699.282828,691.747475,44.636364,8.797980,1.118990,12.732727,360825.757576,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.047619,129.914249,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2979,263.856667,13.133333,2.343333,37.666667,1253.333333,0.000000,294.333333,0.073333,12.533333,391001.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.666667,139.372468,3
2980,284.380000,15.090000,2.930000,53.000000,0.000000,1514.000000,0.000000,0.000000,6.730000,377350.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,171.840108,1
2981,215.077500,14.237500,2.970000,24.000000,0.000000,1573.000000,0.000000,0.000000,8.700000,338963.750000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.750000,153.904962,4
2982,247.040000,13.620000,1.980000,33.000000,1568.000000,0.000000,0.000000,0.000000,9.430000,334564.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,173.330729,1
2983,163.515000,16.785000,1.060000,1502.000000,93.000000,0.000000,0.000000,0.000000,10.315000,332645.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,151.148192,2

In [55]:
pad_data = labeled_train_length.fillna(method='ffill',axis=0)
back_data = labeled_train_length.fillna(method='backfill',axis=0)
labeled_train_length = (pad_data+back_data)/2

In [46]:
test_150 = pd.DataFrame()
for i in range(150):
    m = pd.read_csv('D:/2022 AIops/data/test/{}.csv'.format(i))
    m = m.drop(columns='Date & Time', axis=1)
    column = m.columns.tolist()
    for item in column:
        test_150.loc[i,item]=m.loc[:,item].mean()

In [47]:
test_150 = test_150.drop(columns=['feature3_5', 'feature3_6', 'feature3_7', 'feature3_8'], axis=1)
test_150

,feature0,feature1,feature2,feature3_1,feature3_2,feature3_3,feature3_4,feature11,feature12,feature13,...,feature77_6,feature77_7,feature85_0,feature85_1,feature85_2,feature85_3,feature85_4,feature85_5,feature85_6,feature85_7
0,185.065000,11.391667,1.675556,504.055556,1051.222222,0.000000,0.000000,0.097778,8.955000,390044.777778,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,116.920000,10.964348,1.583478,615.130435,838.913043,3.173913,0.000000,0.863043,13.623478,364828.391304,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,296.791480,18.825944,3.974617,0.028061,0.000000,17.438776,695.298469,0.020842,9.857066,140683.920918,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,92.052966,16.822998,3.985921,0.063725,0.019608,2.379902,232.671569,0.020760,8.557083,43208.446078,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,175.547193,17.228421,3.964035,0.017544,0.491228,26.052632,433.912281,0.000000,7.872456,83369.614035,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,220.180000,19.970000,2.110000,57.000000,1364.000000,0.000000,113.000000,0.000000,5.020000,374153.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,241.940000,15.260000,2.980000,16.000000,0.000000,1577.000000,0.000000,0.550000,8.540000,339518.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,178.890667,14.601333,1.824000,243.066667,1072.533333,17.933333,0.000000,0.560667,10.311333,327145.933333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,199.714444,12.587778,1.823333,248.666667,1130.000000,0.000000,0.000000,0.066667,9.798889,338984.777778,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,109.820000,8.720000,1.898000,137.400000,1171.800000,0.000000,0.000000,0.274000,9.966000,322133.200000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
edge_avg = []
for i in range(150):
    test =  pd.read_csv('D:/2022 AIops/data/test/{}.csv'.format(i))
    test = test.loc[:,['feature20_0','feature20_1','feature20_2','feature20_3','feature20_4','feature20_5','feature20_6','feature20_7']]
    test = test.dropna()
    test = edge_count(test)
    edge_avg.append(test.feature_edge.mean())
print(len(edge_avg))

150

In [49]:
distance_avg = []
for i in range(150):
    test =  pd.read_csv('D:/2022 AIops/data/test/{}.csv'.format(i))
    test = test.loc[:,['feature20_0','feature20_1','feature20_2','feature20_3','feature20_4','feature20_5','feature20_6','feature20_7']]
    test = test.dropna()
    test = distance_count(test)
    distance_avg.append(test.feature_distance.mean())
print(len(distance_avg))

150

In [50]:
length = []
for i in range(150):
    m = pd.read_csv('D:/2022 AIops/data/test/{}.csv'.format(i))
    length.append(len(m))
print(len(length))

150

In [51]:
test_150['feature_edge'] = edge_avg
test_150['feature_distance'] = distance_avg
test_150['length'] = length
test_150

,feature0,feature1,feature2,feature3_1,feature3_2,feature3_3,feature3_4,feature11,feature12,feature13,...,feature85_1,feature85_2,feature85_3,feature85_4,feature85_5,feature85_6,feature85_7,feature_edge,feature_distance,length
0,185.065000,11.391667,1.675556,504.055556,1051.222222,0.000000,0.000000,0.097778,8.955000,390044.777778,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.666667,111.012292,18
1,116.920000,10.964348,1.583478,615.130435,838.913043,3.173913,0.000000,0.863043,13.623478,364828.391304,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.578947,170.985464,23
2,296.791480,18.825944,3.974617,0.028061,0.000000,17.438776,695.298469,0.020842,9.857066,140683.920918,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.350785,173.167184,392
3,92.052966,16.822998,3.985921,0.063725,0.019608,2.379902,232.671569,0.020760,8.557083,43208.446078,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.513298,179.251099,408
4,175.547193,17.228421,3.964035,0.017544,0.491228,26.052632,433.912281,0.000000,7.872456,83369.614035,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,110.601148,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,220.180000,19.970000,2.110000,57.000000,1364.000000,0.000000,113.000000,0.000000,5.020000,374153.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,119.751106,1
146,241.940000,15.260000,2.980000,16.000000,0.000000,1577.000000,0.000000,0.550000,8.540000,339518.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,167.822296,1
147,178.890667,14.601333,1.824000,243.066667,1072.533333,17.933333,0.000000,0.560667,10.311333,327145.933333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.400000,158.731451,15
148,199.714444,12.587778,1.823333,248.666667,1130.000000,0.000000,0.000000,0.066667,9.798889,338984.777778,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.666667,146.745110,9
149,109.820000,8.720000,1.898000,137.400000,1171.800000,0.000000,0.000000,0.274000,9.966000,322133.200000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.400000,145.312365,5

In [52]:
pad_data = test_150.fillna(method='ffill',axis=0)
back_data = test_150.fillna(method='backfill',axis=0)
test_150 = (pad_data+back_data)/2

In [57]:
train_mean = labeled_train_length.append(test_150)
train_mean
train_mean.to_csv('D:/2022 AIops/数据处理代码整理/train_mean.csv')